/* Cleaned up App.css */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo-vite:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo-vite.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo-vite {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}